<aside id="notifications" class="notifications">
  <div class="js-bb-notification">
      <section class="notification notification- js-notification">
        message
        <a class="close" href="#" data-id=""><span class="hidden">Close</span></a>
      </section>
  </div>
</aside>
