<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Acorn Blog</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/kube/kube.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">

</head>
<body class="page-{{page_name}}">

    <div class="container">
    {{#unless hide_navbar}}
        {{> navbar}}
    {{/unless}}
        {{> notifications}}
        {{{body}}}
    </div>

    <div id="modal-container"></div>
    <div class="modal-background"></div>

</body>
</html>
